# üêº Guide to Using Pandas Methods and Functions
This guide provides a practical overview of the main Pandas methods and functions for data analysis. From DataFrame management to cleaning and transformation, you will find useful examples to manipulate and analyze data in Python efficiently.

By [Enzo Schitini]('https://www.linkedin.com/in/enzoschitini/')

Data Scientist & Data Analyst ‚Ä¢ SQL ‚Ä¢ Expert Bubble.io ‚Ä¢ UX & UI @ Scituffy creator

Pandas is one of the most powerful and widely used libraries for manipulating and analyzing data in Python. Whether you are an aspiring data scientist, an experienced analyst, or simply someone who works with data, mastering Pandas can greatly improve your productivity and data processing skills. This guide aims to provide a comprehensive overview of Pandas' essential methods and functions, enabling you to tackle complex data operations with ease and efficiency.

In this guide, you will explore fundamental concepts such as data cleansing, transformation, aggregation, and visualization techniques using Pandas. Through practical examples and step-by-step instructions, you will gain a deeper understanding of how to leverage Pandas' full potential to simplify and enhance your data workflows.

### `Dataset:` For this guide, we will use data from an online store, although with fewer rows and columns than the original. We have 2022 rows and 10 columns.
Link Dataset: https://github.com/enzoschitini/Guide-to-Using-Pandas/blob/main/pandas_csv_guide.csv

| order_id                            | customer_state | product_category_name | product_weight_g | review_score | price | freight_value | payment_value | order_approved_at     | order_purchase_timestamp |
|-------------------------------------|----------------|-----------------------|------------------|--------------|-------|---------------|---------------|-----------------------|-------------------------|
| 00010242fe8c5a6d1ba2dd792cb16214    | RJ             | cool_stuff            | 650.0            | 5            | 58.9  | 13.29         | 72.19         | 2017-09-13 09:45:35   | 2017-09-13 08:59:02     |
| 130898c0987d1801452a8ed92a670612    | GO             | cool_stuff            | 650.0            | 5            | 55.9  | 17.96         | 73.86         | 2017-06-29 02:44:11   | 2017-06-28 11:52:20     |
| 532ed5e14e24ae1f0d735b91524b98b9    | MG             | cool_stuff            | 650.0            | 4            | 64.9  | 18.33         | 83.23         | 2018-05-18 12:31:43   | 2018-05-18 10:25:53     |
| 6f8c31653edb8c83e1a739408b5ff750    | PR             | cool_stuff            | 650.0            | 5            | 58.9  | 16.17         | 75.07         | 2017-08-01 18:55:08   | 2017-08-01 18:38:42     |
| 7d19f4ef4d04461989632411b7e588b9    | MG             | cool_stuff            | 650.0            | 5            | 58.9  | 13.29         | 72.19         | 2017-08-10 22:05:11   | 2017-08-10 21:48:40     |

### Description of columns:

- **order_id**: Unique identifier for the order. Each row represents a specific order made by the customer.

- **customer_state**: Brazilian state where the customer resides. It is represented by a two-letter code (e.g., RJ for Rio de Janeiro).

- **product_category_name**: Category of the purchased product. For example, "cool_stuff" indicates a specific product category.

- **product_weight_g**: Weight of the product in grams. This provides information about the weight of the ordered product.

- **review_score**: Review score given by the customer for the order, typically on a scale from 1 to 5.

- **price**: Price of the product in the local currency (Brazilian reais). This indicates the cost of the purchased product.

- **freight_value**: Shipping cost in the local currency. This represents the shipping charge for the order.

- **payment_value**: Total amount paid for the order, including the product price and the shipping cost.

- **order_approved_at**: Date and time when the order was approved for shipping.

- **order_purchase_timestamp**: Date and time when the order was placed by the customer.

``` python
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/enzoschitini/Guide-to-Using-Pandas/refs/heads/main/pandas_csv_guide.csv').drop(columns='Unnamed: 0')

```

## Topics to work on within this guide:
I have chosen the 10 topics that in my opinion are most used in Pandas to analyze data.

### 1. **Loading Data**

- `pd.read_csv()` ‚Äì Loads data from a CSV file.
- `pd.read_excel()` ‚Äì Loads data from an Excel file.
- `pd.read_sql()` ‚Äì Loads data from a SQL database.
- `pd.read_json()` ‚Äì Loads data from a JSON file.
- `pd.read_parquet()` ‚Äì Loads data from a Parquet file, useful for large datasets.
- `pd.read_html()` ‚Äì Parses HTML tables from a webpage.
- `pd.read_pickle()` ‚Äì Loads data saved in Python‚Äôs pickle format.
- `pd.read_feather()` ‚Äì Loads data from a Feather-format file, suitable for fast input/output.
- `pd.read_sas()` ‚Äì Loads data from SAS files.
- `pd.read_hdf()` ‚Äì Loads data from HDF5-format files.

### 2. **Inspecting Data**

- `.head(n)` ‚Äì Shows the first `n` rows of the DataFrame (default: 5).
- `.tail(n)` ‚Äì Shows the last `n` rows of the DataFrame.
- `.shape` ‚Äì Returns the dimensions (rows, columns) of the DataFrame.
- `.columns` ‚Äì Lists the column names.
- `.info()` ‚Äì Displays information about the DataFrame (column types, non-null counts).
- `.describe()` ‚Äì Provides descriptive statistics for numeric columns.
- `.dtypes` ‚Äì Returns data types of all columns.
- `.index` ‚Äì Returns the index (row labels) of the DataFrame.
- `.value_counts()` ‚Äì Counts unique values in a column.
- `.isnull()` / `.notnull()` ‚Äì Checks for missing values.
- `.duplicated()` ‚Äì Checks for duplicate rows.
- `.nunique()` ‚Äì Counts the number of unique values per column.
- `.sample(n)` ‚Äì Randomly selects `n` rows from the DataFrame.

### 3. **Selecting and Indexing Data**

- `.loc[]` ‚Äì Accesses groups of rows and columns by labels.
- `.iloc[]` ‚Äì Accesses groups of rows and columns by position (integer-based).
- `.at[]` ‚Äì Accesses a single value for a row/column label pair.
- `.iat[]` ‚Äì Accesses a single value for a row/column position pair.
- `.filter()` ‚Äì Subsets the DataFrame based on row/column labels.
- `.xs()` ‚Äì Gets cross-sections from a MultiIndex.
- `.query()` ‚Äì Filters the DataFrame using a string expression.
- `.get()` ‚Äì Retrieves elements from a Series by key.
- `.isin()` ‚Äì Filters rows based on whether values are in a list.
- `.where()` ‚Äì Sets values based on a condition.
- `.mask()` ‚Äì Replaces values where a condition is `True`.
- `.squeeze()` ‚Äì Converts a DataFrame with a single column to a Series.

### 4. **Data Cleaning**

- `.drop()` ‚Äì Removes specified labels from rows or columns.
- `.dropna()` ‚Äì Removes rows/columns with missing values.
- `.fillna()` ‚Äì Replaces missing values with a specified value.
- `.replace()` ‚Äì Replaces values within the DataFrame.
- `.rename()` ‚Äì Renames columns or indices.
- `.interpolate()` ‚Äì Fills NaN values with interpolated values.
- `.bfill()` / `.ffill()` ‚Äì Backward or forward fill of NaN values.
- `.convert_dtypes()` ‚Äì Converts columns to optimal data types.
- `.clip()` ‚Äì Limits values below or above a threshold.
- `.abs()` ‚Äì Computes the absolute value of numeric columns.
- `.round(decimals)` ‚Äì Rounds values to a specified number of decimals.

### 5. **Data Transformation**

- `.astype()` ‚Äì Changes data type of columns.
- `.apply()` ‚Äì Applies a function along an axis (rows/columns).
- `.applymap()` ‚Äì Applies a function element-wise.
- `.map()` ‚Äì Maps values from one column to another.
- `.sort_values()` ‚Äì Sorts the DataFrame by columns.
- `.sort_index()` ‚Äì Sorts the DataFrame by its index.
- `.reset_index()` ‚Äì Resets the DataFrame‚Äôs index.
- `.pivot()` ‚Äì Reshapes data based on column values.
- `.rank()` ‚Äì Ranks values within each column.
- `.cumsum()` / `.cumprod()` ‚Äì Computes cumulative sums/products.
- `.diff()` ‚Äì Computes difference between subsequent rows.
- `.expanding()` ‚Äì Applies expanding transformations (e.g., cumulative sum).
- `.pipe()` ‚Äì Applies custom functions to the DataFrame.
- `.eval()` ‚Äì Evaluates a Python expression as a column in the DataFrame.

### 6. **Aggregation and Grouping**

- `.groupby()` ‚Äì Groups the DataFrame based on one or more columns.
- `.agg()` ‚Äì Applies aggregation functions like sum, mean, min, max on grouped data.
- `.sum()`, `.mean()`, `.min()`, `.max()`, `.count()` ‚Äì Directly calculates these statistics.
- `.pivot_table()` ‚Äì Creates a pivot table with specified rows, columns, and values.
- `.transform()` ‚Äì Applies functions to grouped columns using `groupby()`.
- `.size()` ‚Äì Gets the size of each group.
- `.cumcount()` ‚Äì Counts cumulative occurrences of unique values.
- `.nsmallest(n, columns)` ‚Äì Finds the `n` smallest values in a column.
- `.nlargest(n, columns)` ‚Äì Finds the `n` largest values in a column.
- `.mad()` ‚Äì Mean absolute deviation for grouped data.
- `.rolling(window).apply()` ‚Äì Applies a function on a rolling window.

### 7. **Merging and Combining Data**

- `pd.merge()` ‚Äì Merges DataFrames on specified columns.
- `.join()` ‚Äì Joins DataFrames on indices.
- `pd.concat()` ‚Äì Concatenates DataFrames along rows or columns.

### 8. **Exploring Temporal Data**

- `.resample()` ‚Äì Groups and summarizes data based on a temporal frequency.
- `.to_datetime()` ‚Äì Converts strings to datetime objects.
- `.dt` accessor ‚Äì Accesses date components like year, month, day.
- `.rolling()` ‚Äì Applies operations on a temporal rolling window.
- `.shift()` ‚Äì Shifts data over time (e.g., periods).
- `.diff()` ‚Äì Computes the difference of successive values in time series.
- `.asfreq()` ‚Äì Changes the frequency of a time series index.
- `.between_time()` ‚Äì Extracts rows based on a specific time range.
- `.at_time()` ‚Äì Extracts rows for a specific time.
- `.truncate()` ‚Äì Trims rows before or after a specific date.

### 9. **Exporting Data**

- `.to_csv()` ‚Äì Exports data to a CSV file.
- `.to_excel()` ‚Äì Exports data to an Excel file.
- `.to_sql()` ‚Äì Exports data to a SQL database.
- `.to_json()` ‚Äì Exports data in JSON format.
- `.to_parquet()` ‚Äì Exports data in Parquet format.
- `.to_pickle()` ‚Äì Exports data to a Python pickle file.
- `.to_html()` ‚Äì Exports data to an HTML table.
- `.to_latex()` ‚Äì Exports data in LaTeX format.
- `.to_dict()` ‚Äì Converts data to a Python dictionary.
- `.to_markdown()` ‚Äì Exports data in Markdown format.
- `.to_clipboard()` ‚Äì Copies data to the clipboard.
- `.to_string()` ‚Äì Converts the DataFrame to a string.
- `.to_records()` ‚Äì Converts the DataFrame to an array of records.
- `.to_feather()` ‚Äì Exports data in Feather format.

### 10. **Handling Multi-Level Indices (MultiIndex)**

- `.set_index()` ‚Äì Sets one or more columns as the DataFrame‚Äôs index.
- `.reset_index()` ‚Äì Resets the DataFrame index, moving current indices to columns.
- `.sort_index()` ‚Äì Sorts the DataFrame by index values.
- `.swaplevel()` ‚Äì Swaps levels of a MultiIndex.
- `.stack()` ‚Äì Compresses column levels into rows.
- `.unstack()` ‚Äì Expands row levels into columns.
- `.reorder_levels()` ‚Äì Reorders levels of a MultiIndex.
- `.index.get_level_values()` ‚Äì Extracts values of a specific level from a MultiIndex.
- `.droplevel()` ‚Äì Removes a level from a MultiIndex.
- `.groupby(level=...)` ‚Äì Groups data based on MultiIndex levels.

## üî•Let's get started!

In [1]:
import pandas as pd

## 1. Loading Data

In [2]:
def url_github(type):
    url_data = f'https://raw.githubusercontent.com/enzoschitini/Guide-to-Using-Pandas/refs/heads/main/Data/pandas_{type}_guide.{type}'
    return url_data

### Import CSV, Execel, parquet, feather, json

In [3]:
csv = pd.read_csv(url_github('csv')).drop(columns='Unnamed: 0')
excel = pd.read_excel(url_github('xlsx')).drop(columns='Unnamed: 0')
parquet = pd.read_parquet(url_github('parquet'))
feather = pd.read_feather(url_github('feather'))
json = pd.read_json(url_github('json'))

### Import SQL

In [4]:
import requests
import sqlite3

# Scarica il file dal link
url = 'https://raw.githubusercontent.com/enzoschitini/Guide-to-Using-Pandas/refs/heads/main/Data/pandas_sql_guide.db'
response = requests.get(url)
with open('pandas_sql_guide.db', 'wb') as f:
    f.write(response.content)

# Crea una connessione al database SQLite locale
conn = sqlite3.connect('pandas_sql_guide.db')

# Leggi la tabella SQL in un DataFrame pandas
df_importato = pd.read_sql('SELECT * FROM pandas_sql_guide', conn).drop(columns='Unnamed: 0')

# Chiudi la connessione
conn.close()

df_importato.head()

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,RJ,cool_stuff,650.0,5,58.9,13.29,72.19,2017-09-13 09:45:35,2017-09-13 08:59:02
1,130898c0987d1801452a8ed92a670612,GO,cool_stuff,650.0,5,55.9,17.96,73.86,2017-06-29 02:44:11,2017-06-28 11:52:20
2,532ed5e14e24ae1f0d735b91524b98b9,MG,cool_stuff,650.0,4,64.9,18.33,83.23,2018-05-18 12:31:43,2018-05-18 10:25:53
3,6f8c31653edb8c83e1a739408b5ff750,PR,cool_stuff,650.0,5,58.9,16.17,75.07,2017-08-01 18:55:08,2017-08-01 18:38:42
4,7d19f4ef4d04461989632411b7e588b9,MG,cool_stuff,650.0,5,58.9,13.29,72.19,2017-08-10 22:05:11,2017-08-10 21:48:40

In [5]:
"""import sqlite3  # or use other database connectors like SQLAlchemy for different databases

# Load your CSV file into a DataFrame
df = pd.read_csv('https://raw.githubusercontent.com/enzoschitini/Guide-to-Using-Pandas/refs/heads/main/Data/pandas_csv_guide.csv')

# Create a connection to a SQLite database (or another database)
conn = sqlite3.connect('pandas_sql_guide.db')  # Creates a database file if it doesn't exist

# Save the DataFrame to the SQL database
df.to_sql('pandas_sql_guide', conn, if_exists='replace', index=False)

# Close the connection
conn.close()"""

"import sqlite3  # or use other database connectors like SQLAlchemy for different databases\n\n# Load your CSV file into a DataFrame\ndf = pd.read_csv('https://raw.githubusercontent.com/enzoschitini/Guide-to-Using-Pandas/refs/heads/main/Data/pandas_csv_guide.csv')\n\n# Create a connection to a SQLite database (or another database)\nconn = sqlite3.connect('pandas_sql_guide.db')  # Creates a database file if it doesn't exist\n\n# Save the DataFrame to the SQL database\ndf.to_sql('pandas_sql_guide', conn, if_exists='replace', index=False)\n\n# Close the connection\nconn.close()"

### Import HTML

``` python
pip install lxml
```

In [6]:
list_of_dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita')
list_of_dfs[1]

    Country/Territory IMF[4][5]       World Bank[6]       United Nations[7]  \
    Country/Territory  Estimate  Year      Estimate  Year          Estimate
0              Monaco         ‚Äî     ‚Äî        240862  2022            240535
1       Liechtenstein         ‚Äî     ‚Äî        187267  2022            197268
2          Luxembourg    135321  2024        128259  2023            125897
3             Bermuda         ‚Äî     ‚Äî        123091  2022            117568
4         Switzerland    106098  2024         99995  2023             93636
..                ...       ...   ...           ...   ...               ...
218             Yemen       465  2024           533  2023               327
219            Malawi       464  2024           673  2023               615
220       Afghanistan       411  2023           353  2022               345
221       South Sudan       341  2024          1072  2015               423
222           Burundi       321  2024           200  2023               313


     Year
0    2022
1    2022
2    2022
3    2022
4    2022
..    ...
218  2022
219  2022
220  2022
221  2022
222  2022

[223 rows x 7 columns]

### Create a Dataset

In [7]:
filename_features = "https://raw.githubusercontent.com/enzoschitini/Guide-to-Using-Pandas/refs/heads/main/Data/UCI%20HAR%20Dataset/features.txt"
filename_labels = "https://raw.githubusercontent.com/enzoschitini/Guide-to-Using-Pandas/refs/heads/main/Data/UCI%20HAR%20Dataset/activity_labels.txt"

filename_subtrain = "https://raw.githubusercontent.com/enzoschitini/Guide-to-Using-Pandas/refs/heads/main/Data/UCI%20HAR%20Dataset/train/subject_train.txt"
filename_xtrain = "https://raw.githubusercontent.com/enzoschitini/Guide-to-Using-Pandas/refs/heads/main/Data/UCI%20HAR%20Dataset/train/X_train.txt"
filename_ytrain = "https://raw.githubusercontent.com/enzoschitini/Guide-to-Using-Pandas/refs/heads/main/Data/UCI%20HAR%20Dataset/train/y_train.txt"

In [8]:
features = pd.read_csv(filename_features, header=None, sep="#")
features.columns = ['nome_var']
labels = pd.read_csv(filename_labels, delim_whitespace=True, header=None, names=['cod_label', 'label'])

In [9]:
"""subject_train = pd.read_csv(filename_subtrain, header=None, names=['subject_id'])
X_train = pd.read_csv(filename_xtrain, delim_whitespace=True, header=None, names=features['nome_var'].tolist())
y_train = pd.read_csv(filename_ytrain, header=None, names=['cod_label'])"""

"subject_train = pd.read_csv(filename_subtrain, header=None, names=['subject_id'])\nX_train = pd.read_csv(filename_xtrain, delim_whitespace=True, header=None, names=features['nome_var'].tolist())\ny_train = pd.read_csv(filename_ytrain, header=None, names=['cod_label'])"

In [10]:
#X_train.head()

In [11]:
#y_train.head()

## 2. Inspecting Data

### ``.head(n)`` ‚Äì Shows the first n rows of the DataFrame (default: 5)

In [12]:
csv.head(n=5)

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,RJ,cool_stuff,650.0,5,58.9,13.29,72.19,2017-09-13 09:45:35,2017-09-13 08:59:02
1,130898c0987d1801452a8ed92a670612,GO,cool_stuff,650.0,5,55.9,17.96,73.86,2017-06-29 02:44:11,2017-06-28 11:52:20
2,532ed5e14e24ae1f0d735b91524b98b9,MG,cool_stuff,650.0,4,64.9,18.33,83.23,2018-05-18 12:31:43,2018-05-18 10:25:53
3,6f8c31653edb8c83e1a739408b5ff750,PR,cool_stuff,650.0,5,58.9,16.17,75.07,2017-08-01 18:55:08,2017-08-01 18:38:42
4,7d19f4ef4d04461989632411b7e588b9,MG,cool_stuff,650.0,5,58.9,13.29,72.19,2017-08-10 22:05:11,2017-08-10 21:48:40

### ``.tail(n)`` ‚Äì Shows the last n rows of the DataFrame

In [13]:
csv.tail(n=5)

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
2017,bb0c66e312ff8cb97698f012cd92553c,SP,perfumaria,350.0,5,56.99,8.72,65.71,2017-11-22 02:56:28,2017-11-19 17:05:09
2018,c0db7d31ace61fc360a3eaa34dd3457c,SP,perfumaria,350.0,5,56.99,8.72,65.71,2018-02-13 16:50:30,2018-02-13 16:36:56
2019,c0db7d31ace61fc360a3eaa34dd3457c,SP,perfumaria,350.0,5,56.99,8.72,65.71,2018-02-13 16:50:30,2018-02-13 16:36:56
2020,c90025afa3c59ad0768b713161777935,SP,perfumaria,350.0,5,56.99,8.72,65.71,2018-03-01 02:50:46,2018-02-28 12:59:08
2021,cc3336764b2bc18f4eaa8f17f86bfd53,SP,perfumaria,350.0,5,56.99,7.78,64.77,2017-06-11 17:55:17,2017-06-11 17:43:18

### ``.shape`` ‚Äì Returns the dimensions (rows, columns) of the DataFrame

In [14]:
csv.shape

(2022, 10)

### ``.columns`` ‚Äì Lists the column names

In [15]:
csv.columns

Index(['order_id', 'customer_state', 'product_category_name',
       'product_weight_g', 'review_score', 'price', 'freight_value',
       'payment_value', 'order_approved_at', 'order_purchase_timestamp'],
      dtype='object')

In [16]:
list_of_dfs[1].columns

MultiIndex([('Country/Territory', 'Country/Territory'),
            (        'IMF[4][5]',          'Estimate'),
            (        'IMF[4][5]',              'Year'),
            (    'World Bank[6]',          'Estimate'),
            (    'World Bank[6]',              'Year'),
            ('United Nations[7]',          'Estimate'),
            ('United Nations[7]',              'Year')],
           )

### ``.info()`` ‚Äì Displays information about the DataFrame (column types, non-null counts)

In [17]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2022 entries, 0 to 2021
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  2022 non-null   object
 1   customer_state            2022 non-null   object
 2   product_category_name     2022 non-null   object
 3   product_weight_g          2022 non-null   float64
 4   review_score              2022 non-null   int64
 5   price                     2022 non-null   float64
 6   freight_value             2022 non-null   float64
 7   payment_value             2022 non-null   float64
 8   order_approved_at         2022 non-null   object
 9   order_purchase_timestamp  2022 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 158.1+ KB

Il metodo `info()` di un oggetto DataFrame di Pandas fornisce un riepilogo conciso del contenuto del DataFrame, mostrando dettagli utili per l'analisi preliminare del dataset. I parametri principali di `info()` sono:

- `verbose`: (default `None`) Se impostato su `True`, mostrer√† tutte le colonne, altrimenti una vista abbreviata (utile per dataset di grandi dimensioni).
- `buf`: (default `None`) Specifica l'output su un oggetto come un file. Se impostato su `None`, l'output viene stampato sulla console.
- `max_cols`: (default `None`) Limita il numero di colonne da visualizzare nel riepilogo.
- `memory_usage`: (default `True`) Mostra l'uso della memoria del DataFrame. Pu√≤ essere impostato su `'deep'` per avere una stima pi√π precisa.

In [18]:
csv.info(verbose=True, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2022 entries, 0 to 2021
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  2022 non-null   object
 1   customer_state            2022 non-null   object
 2   product_category_name     2022 non-null   object
 3   product_weight_g          2022 non-null   float64
 4   review_score              2022 non-null   int64
 5   price                     2022 non-null   float64
 6   freight_value             2022 non-null   float64
 7   payment_value             2022 non-null   float64
 8   order_approved_at         2022 non-null   object
 9   order_purchase_timestamp  2022 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 727.2 KB

### ``.describe()`` ‚Äì Provides descriptive statistics for numeric columns

In [19]:
csv.describe()

,product_weight_g,review_score,price,freight_value,payment_value
count,2022.000000,2022.000000,2022.000000,2022.000000,2022.000000
mean,1154.325915,4.017310,73.512992,15.884327,100.126632
std,2643.718753,1.381362,63.045769,9.318311,111.499859
min,50.000000,1.000000,2.990000,0.000000,0.220000
25%,203.750000,3.000000,51.900000,11.680000,65.710000
50%,350.000000,5.000000,58.990000,15.150000,76.650000
75%,950.000000,5.000000,84.990000,17.680000,106.380000
max,30000.000000,5.000000,1050.000000,185.730000,1525.780000

Il metodo `describe()` √® utilizzato in Pandas per generare statistiche descrittive di un DataFrame o di una Serie. Per impostazione predefinita, restituisce le statistiche per le colonne numeriche, ma pu√≤ essere utilizzato anche per dati categorici. Ecco una panoramica dei principali parametri:

#### Principali Parametri di `describe()`

1. **`percentiles`**: Specifica i percentili che vuoi calcolare. Per impostazione predefinita, include il 25¬∞, 50¬∞ (mediana) e il 75¬∞ percentile. Puoi specificare una lista di percentuali per ottenere valori personalizzati.
    - *Tipo*: array-like di numeri tra 0 e 1.
    - *Valore predefinito*: `[0.25, 0.5, 0.75]`.
2. **`include`**: Specifica quali tipi di dati includere nella descrizione. Pu√≤ essere impostato su `None` (comportamento predefinito, solo colonne numeriche), `all` (tutti i tipi di dati) oppure su un elenco di tipi di dati come `['object']` o `['number']`.
    - *Valore predefinito*: `None`.
3. **`exclude`**: Specifica quali tipi di dati escludere dall'analisi. Funziona in modo complementare a `include`.

In [20]:
csv.describe(percentiles=[0.1, 0.9])

,product_weight_g,review_score,price,freight_value,payment_value
count,2022.000000,2022.000000,2022.000000,2022.000000,2022.000000
mean,1154.325915,4.017310,73.512992,15.884327,100.126632
std,2643.718753,1.381362,63.045769,9.318311,111.499859
min,50.000000,1.000000,2.990000,0.000000,0.220000
10%,200.000000,1.000000,21.000000,8.720000,29.560000
50%,350.000000,5.000000,58.990000,15.150000,76.650000
90%,2245.000000,5.000000,118.900000,23.161000,162.070000
max,30000.000000,5.000000,1050.000000,185.730000,1525.780000

In [21]:
csv.describe(include='all')

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
count,2022,2022,2022,2022.000000,2022.000000,2022.000000,2022.000000,2022.000000,2022,2022
unique,1735,27,21,NaN,NaN,NaN,NaN,NaN,1734,1735
top,370e2e6c1a9fd451eb7f0852daa3b006,SP,beleza_saude,NaN,NaN,NaN,NaN,NaN,2017-03-11 18:34:44,2017-03-11 18:34:44
freq,11,849,766,NaN,NaN,NaN,NaN,NaN,11,11
mean,NaN,NaN,NaN,1154.325915,4.017310,73.512992,15.884327,100.126632,NaN,NaN
std,NaN,NaN,NaN,2643.718753,1.381362,63.045769,9.318311,111.499859,NaN,NaN
min,NaN,NaN,NaN,50.000000,1.000000,2.990000,0.000000,0.220000,NaN,NaN
25%,NaN,NaN,NaN,203.750000,3.000000,51.900000,11.680000,65.710000,NaN,NaN
50%,NaN,NaN,NaN,350.000000,5.000000,58.990000,15.150000,76.650000,NaN,NaN
75%,NaN,NaN,NaN,950.000000,5.000000,84.990000,17.680000,106.380000,NaN,NaN
max,NaN,NaN,NaN,30000.000000,5.000000,1050.000000,185.730000,1525.780000,NaN,NaN

### ``.dtypes`` ‚Äì Returns data types of all columns

In [22]:
csv.dtypes

order_id                     object
customer_state               object
product_category_name        object
product_weight_g            float64
review_score                  int64
price                       float64
freight_value               float64
payment_value               float64
order_approved_at            object
order_purchase_timestamp     object
dtype: object

### ``.index`` ‚Äì Returns the index (row labels) of the DataFrame

In [23]:
csv.index

RangeIndex(start=0, stop=2022, step=1)

### ``.value_counts()`` ‚Äì Counts unique values in a column

In [24]:
csv.value_counts()

order_id                          customer_state  product_category_name   product_weight_g  review_score  price  freight_value  payment_value  order_approved_at    order_purchase_timestamp
2f839b79d9954ebfedeeba654f0f3de8  SP              telefonia               150.0             5             7.00   7.39           71.95          2018-03-26 14:50:21  2018-03-26 14:40:10         5
8a8bd4a338e17ace44431e99a2add1d2  DF              dvds_blu_ray            2150.0            5             83.99  18.17          20.00          2018-05-15 21:54:02  2018-05-15 21:31:55         5
58346246ea802a21cb34124ed2326770  SP              perfumaria              200.0             5             44.99  7.58           210.28         2018-07-11 17:25:53  2018-07-11 17:17:37         4
05fcd933547be81890bc4d62357fdf3f  SP              informatica_acessorios  300.0             1             89.90  12.13          408.12         2017-07-19 10:30:13  2017-07-19 10:17:34         4
84ddfd4c559558c53b5a4c6765e49be8  SP              utilidades_domesticas   250.0             1             5.90   7.39           53.16          2018-08-09 21:44:52  2018-08-09 21:31:52         4
                                                                                                                                                                                               ..
55ff9b1565b988a5125bc8f70a9df367  SP              perfumaria              350.0             4             56.99  8.72           65.71          2017-10-20 13:28:06  2017-10-20 13:10:04         1
55f8a030ae34836632355176608c7314  SP              telefonia               150.0             1             19.90  7.11           125.44         2018-01-22 15:13:00  2018-01-22 14:55:18         1
55f2d8cb4b644ca9cc2da77732fd1117  RJ              cool_stuff              650.0             4             49.40  9.94           59.34          2017-10-15 14:14:18  2017-10-15 13:56:49         1
55d18e6e778d8bbc28aff36ab14104ba  SP              perfumaria              200.0             5             53.99  7.78           61.77          2017-11-28 22:31:34  2017-11-28 21:58:05         1
ff92fd3088a85112214acbc08d72afbf  SP              livros_tecnicos         950.0             5             57.89  11.15          69.04          2018-05-22 20:37:13  2018-05-22 20:17:56         1
Name: count, Length: 1885, dtype: int64

Il metodo `.value_counts()` in Pandas √® utilizzato per ottenere una distribuzione delle occorrenze uniche dei valori in una Serie (o in una colonna di un DataFrame). √à molto utile per esplorare i dati categorici o per comprendere la distribuzione dei valori in una colonna.

#### Principali Parametri di `.value_counts()`

1. **`normalize`**: Se impostato a `True`, restituisce le frequenze relative dei valori invece dei conteggi assoluti.
    - *Tipo*: booleano (`True` o `False`).
    - *Valore predefinito*: `False`.
2. **`sort`**: Specifica se ordinare i risultati in base ai conteggi (in ordine decrescente). Se impostato a `False`, non ordina i valori.
    - *Tipo*: booleano (`True` o `False`).
    - *Valore predefinito*: `True`.
3. **`ascending`**: Se impostato a `True`, ordina i risultati in ordine crescente.
    - *Tipo*: booleano (`True` o `False`).
    - *Valore predefinito*: `False`.
4. **`bins`**: Consente di suddividere i dati numerici in intervalli (binning).
    - *Tipo*: intero.
    - *Valore predefinito*: `None`.
5. **`dropna`**: Se impostato a `False`, include i valori `NaN` nel conteggio.
    - *Tipo*: booleano (`True` o `False`).
    - *Valore predefinito*: `True`.

In [25]:
csv.value_counts('customer_state', normalize=True).head(5)

customer_state
SP    0.419881
MG    0.124135
RJ    0.112760
RS    0.048467
BA    0.044510
Name: proportion, dtype: float64

In [26]:
csv.value_counts('customer_state', ascending=True).head()

customer_state
AC    1
RR    2
AP    3
TO    3
SE    5
Name: count, dtype: int64

In [27]:
csv.value_counts('customer_state', dropna=False).head()

customer_state
SP    849
MG    251
RJ    228
RS     98
BA     90
Name: count, dtype: int64

In [28]:
csv['price'].value_counts(bins=3)

(1.9420000000000002, 351.993]    2007
(351.993, 700.997]                 10
(700.997, 1050.0]                   5
Name: count, dtype: int64

### ``.isnull() / .notnull()`` ‚Äì Checks for missing values

I metodi `.isnull()` e `.notnull()` in Pandas sono utilizzati per identificare i valori mancanti (o nulli) in un DataFrame o una Serie. Entrambi i metodi restituiscono un oggetto della stessa forma con valori booleani (`True` o `False`), che indicano rispettivamente la presenza o l'assenza di valori nulli.

#### `.isnull()`

Questo metodo identifica i valori `NaN` (Not a Number) o `None` come `True` e gli altri valori come `False`.

#### Esempio di utilizzo di `.isnull()`

In [29]:
csv.isnull()

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2017,False,False,False,False,False,False,False,False,False,False
2018,False,False,False,False,False,False,False,False,False,False
2019,False,False,False,False,False,False,False,False,False,False
2020,False,False,False,False,False,False,False,False,False,False
2021,False,False,False,False,False,False,False,False,False,False

- I `True` indicano la presenza di valori mancanti (nulli).

#### Uso comune: Conteggio dei Valori Nulli

Puoi usare `.isnull().sum()` per contare il numero di valori nulli in ogni colonna.

In [30]:
csv.isnull().sum()

order_id                    0
customer_state              0
product_category_name       0
product_weight_g            0
review_score                0
price                       0
freight_value               0
payment_value               0
order_approved_at           0
order_purchase_timestamp    0
dtype: int64

### `.notnull()`

Questo metodo √® l'opposto di `.isnull()`, identificando i valori **non nulli** (ossia `NaN` e `None` sono marcati come `False`, mentre gli altri valori come `True`).

#### Esempio di utilizzo di `.notnull()`

In [31]:
csv.notnull()

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
2017,True,True,True,True,True,True,True,True,True,True
2018,True,True,True,True,True,True,True,True,True,True
2019,True,True,True,True,True,True,True,True,True,True
2020,True,True,True,True,True,True,True,True,True,True
2021,True,True,True,True,True,True,True,True,True,True

- I `True` indicano la presenza di valori **non** nulli.

#### Esempi pratici

1. **Filtrare i valori non nulli in una colonna**

In [34]:
df_non_null = csv[csv['product_category_name'].notnull()]
df_non_null.head()

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,RJ,cool_stuff,650.0,5,58.9,13.29,72.19,2017-09-13 09:45:35,2017-09-13 08:59:02
1,130898c0987d1801452a8ed92a670612,GO,cool_stuff,650.0,5,55.9,17.96,73.86,2017-06-29 02:44:11,2017-06-28 11:52:20
2,532ed5e14e24ae1f0d735b91524b98b9,MG,cool_stuff,650.0,4,64.9,18.33,83.23,2018-05-18 12:31:43,2018-05-18 10:25:53
3,6f8c31653edb8c83e1a739408b5ff750,PR,cool_stuff,650.0,5,58.9,16.17,75.07,2017-08-01 18:55:08,2017-08-01 18:38:42
4,7d19f4ef4d04461989632411b7e588b9,MG,cool_stuff,650.0,5,58.9,13.29,72.19,2017-08-10 22:05:11,2017-08-10 21:48:40

2. **Verificare se ci sono valori nulli nel DataFrame**

In [35]:
csv.isnull().values.any()

False

3. **Contare i valori non nulli in ogni colonna**

In [36]:
csv.notnull().sum()

order_id                    2022
customer_state              2022
product_category_name       2022
product_weight_g            2022
review_score                2022
price                       2022
freight_value               2022
payment_value               2022
order_approved_at           2022
order_purchase_timestamp    2022
dtype: int64

#### Differenza tra i due

- **`.isnull()`**: Restituisce `True` per i valori nulli.
- **`.notnull()`**: Restituisce `True` per i valori **non** nulli.

Questi metodi sono molto utili per gestire i valori mancanti nei dataset, una parte essenziale dell'analisi dei dati e della pulizia dei dati. Se hai altre domande, sono qui per aiutarti!

### ``.duplicated()`` ‚Äì Checks for duplicate rows

Il metodo `.duplicated()` in Pandas √® utilizzato per identificare le righe duplicate in un DataFrame o gli elementi duplicati in una Serie. Restituisce una Serie di valori booleani in cui `True` indica che una riga o un elemento √® un duplicato di una precedente e `False` indica che non lo √®.

#### Principali Parametri di `.duplicated()`

1. **`subset`**: Specifica le colonne su cui controllare i duplicati. Se non viene specificato, il controllo viene eseguito su tutte le colonne.
    - *Tipo*: lista di stringhe (nomi di colonne).
    - *Valore predefinito*: `None`.
2. **`keep`**: Determina quale duplicato (se ce ne sono) contrassegnare come `True`.
    - `"first"`: Marca tutte le duplicazioni successive come `True`, mantenendo il primo valore come unico (`False`).
    - `"last"`: Marca tutte le duplicazioni precedenti come `True`, mantenendo l'ultimo valore come unico (`False`).
    - `False`: Marca **tutti** i duplicati come `True`.
    - *Valore predefinito*: `"first"`.

#### Esempio di Utilizzo di `.duplicated()`

#### Esempio 1: Identificare le righe duplicate in un DataFrame

In [37]:
csv.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2017    False
2018    False
2019     True
2020    False
2021    False
Length: 2022, dtype: bool

#### Esempio 2: Utilizzare il parametro `keep`

In [39]:
# Mantenere solo l'ultima occorrenza come unica
csv.duplicated(keep='last')

0       False
1       False
2       False
3       False
4       False
        ...
2017    False
2018     True
2019    False
2020    False
2021    False
Length: 2022, dtype: bool

- In questo caso, vengono mantenute le ultime occorrenze e le precedenti vengono considerate duplicate.

#### Esempio 3: Identificare i duplicati basandosi su colonne specifiche

In [42]:
csv.duplicated(subset='product_category_name')

0       False
1        True
2        True
3        True
4        True
        ...
2017     True
2018     True
2019     True
2020     True
2021     True
Length: 2022, dtype: bool

#### Esempio 4: Marcatura di **tutti** i duplicati

In [43]:
csv.duplicated(keep=False)

0       False
1       False
2       False
3       False
4       False
        ...
2017    False
2018     True
2019     True
2020    False
2021    False
Length: 2022, dtype: bool

##### `.duplicated()`

In [44]:
df_unique = csv.drop_duplicates()

### ``.nunique()`` ‚Äì Counts the number of unique values per column

Il metodo `.nunique()` in Pandas viene utilizzato per contare il numero di valori unici (distinti) presenti in ogni colonna di un DataFrame o in una Serie. Questo √® utile per avere una rapida panoramica della variet√† di dati all'interno di ogni colonna.

#### Principali Parametri di `.nunique()`

1. **`axis`**: Specifica se contare i valori unici per colonne o per righe.
    - *Valore predefinito*: `0` o `'index'` (conteggio dei valori unici per colonna).
    - Se `axis=1` o `'columns'`, conta i valori unici per ogni riga.
2. **`dropna`**: Indica se escludere (`True`) o includere (`False`) i valori mancanti (NaN) nel conteggio.
    - *Valore predefinito*: `True` (esclude i valori mancanti).

#### Esempi di Utilizzo di `.nunique()`

#### Esempio 1: Contare i valori unici in un DataFrame

In [45]:
csv.nunique()

order_id                    1735
customer_state                27
product_category_name         21
product_weight_g             119
review_score                   5
price                        229
freight_value                572
payment_value                902
order_approved_at           1734
order_purchase_timestamp    1735
dtype: int64

#### Esempio 2: Contare i valori unici, inclusi i valori nulli

In [46]:
csv.nunique(dropna=False)

order_id                    1735
customer_state                27
product_category_name         21
product_weight_g             119
review_score                   5
price                        229
freight_value                572
payment_value                902
order_approved_at           1734
order_purchase_timestamp    1735
dtype: int64

#### Esempio 3: Contare i valori unici lungo le righe (con axis=1)

In [47]:
csv.nunique(axis=1)

0       10
1       10
2       10
3       10
4       10
        ..
2017    10
2018    10
2019    10
2020    10
2021    10
Length: 2022, dtype: int64

### ``.sample(n)`` ‚Äì Randomly selects n rows from the DataFrame

Il metodo `.sample()` in Pandas viene utilizzato per estrarre un campione casuale di righe o colonne da un DataFrame o da una Serie. Pu√≤ essere utile per esplorare una parte dei dati in modo casuale o per generare un sottocampione per l'analisi.

#### Principali Parametri di `.sample()`

1. **`n`**: Specifica il numero di elementi (righe o colonne) da campionare.
    - *Tipo*: intero.
    - Non pu√≤ essere utilizzato contemporaneamente con il parametro `frac`.
2. **`frac`**: Specifica la frazione di elementi da campionare rispetto al totale.
    - *Tipo*: float, ad esempio `frac=0.5` campiona il 50% degli elementi.
    - Non pu√≤ essere utilizzato insieme al parametro `n`.
3. **`replace`**: Se `True`, consente il campionamento con ripetizione (ossia, gli stessi elementi possono essere estratti pi√π di una volta).
    - *Tipo*: booleano.
    - *Valore predefinito*: `False`.
4. **`weights`**: Determina le probabilit√† con cui ogni elemento √® campionato. Pu√≤ essere una colonna del DataFrame o un array-like di pesi.
    - *Tipo*: array-like o nome di colonna.
5. **`random_state`**: Un seme o seed per la generazione di numeri casuali, che rende il campionamento riproducibile.
    - *Tipo*: intero.
6. **`axis`**: Specifica se campionare righe o colonne.
    - `axis=0` o `'index'` per campionare righe (valore predefinito).
    - `axis=1` o `'columns'` per campionare colonne.

#### Esempi di Utilizzo di `.sample()`

#### Esempio 1: Campionare un numero fisso di righe

In [48]:
csv.sample(n=2)

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
1513,2699d27682691fa4f6be5cfde364a833,PR,beleza_saude,200.0,5,64.99,15.20,80.19,2017-05-21 09:31:47,2017-05-21 07:59:40
643,6c5222e0550b757a63908aa2f0cacf95,RS,beleza_saude,2000.0,5,145.95,17.27,163.22,2017-11-11 16:10:40,2017-11-11 15:53:40

#### Esempio 2: Campionare una frazione di righe

In [49]:
csv.sample(frac=0.5)

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
590,55f8a030ae34836632355176608c7314,SP,telefonia,150.0,1,19.90,7.11,125.44,2018-01-22 15:13:00,2018-01-22 14:55:18
1999,84e3112c2a4f1708a00c880218f52886,SP,perfumaria,350.0,4,56.99,11.90,68.89,2017-11-27 22:17:48,2017-11-27 21:55:05
1275,44ce6def1c74186615c88a02d09abcb2,TO,beleza_saude,250.0,1,89.99,19.17,109.16,2018-02-14 10:27:11,2018-02-12 17:16:09
645,50ec02cdd09a0a80fbb65a1505eed464,SP,beleza_saude,675.0,5,128.90,9.72,138.62,2018-03-01 13:15:29,2018-03-01 13:04:09
503,87850ccd83d669cf004ea32dd917d6c4,SP,utilidades_domesticas,8750.0,5,169.90,22.99,192.89,2018-07-21 03:05:11,2018-07-19 20:54:46
...,...,...,...,...,...,...,...,...,...,...
147,b3840eac3cf88799d05e845cf9b8587b,CE,brinquedos,1100.0,5,269.90,37.21,307.11,2017-05-24 15:55:10,2017-05-24 15:41:44
515,199252c8392d7a5363c63e239086c091,PA,perfumaria,2200.0,4,79.90,19.10,99.00,2017-12-11 15:17:26,2017-12-11 15:10:00
1048,73aff38a1baa00056cd97d9a0e8e0c4a,SC,perfumaria,550.0,4,84.99,16.35,101.34,2017-12-05 04:11:58,2017-12-03 14:33:46
701,c8760b2b21e61235273701a644b5fd95,SP,beleza_saude,1150.0,5,55.92,11.15,45.10,2018-05-24 18:38:14,2018-05-24 16:46:17
1315,6bac466acd309707eec8a7db441a4e57,RS,beleza_saude,250.0,5,89.99,16.39,106.38,2017-11-27 20:39:12,2017-11-27 20:21:56

#### Esempio 3: Campionamento con ripetizione

In [50]:
csv.sample(n=4, replace=True)

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
113,7c3e480eb90c173aae4ffde40bbaec26,SP,cool_stuff,575.0,5,58.90,21.32,142.57,2017-08-23 02:55:54,2017-08-22 10:14:07
938,3f515b21edaaa117bbab2833ce2cae32,SP,beleza_saude,950.0,5,59.99,9.34,20.00,2018-01-26 11:40:24,2018-01-26 11:31:25
446,333e8c69214e02d9be6bc5b7a3e4202b,SP,audio,200.0,4,14.90,7.39,22.29,2018-04-28 02:51:43,2018-04-27 15:48:26
1425,cf71b9b6b7ed12d72f541b0420023f19,ES,beleza_saude,250.0,4,79.99,10.94,90.93,2018-05-11 02:57:52,2018-05-09 23:33:28

#### Esempio 4: Campionamento riproducibile usando random_state

In [51]:
csv.sample(n=2, random_state=42)

,order_id,customer_state,product_category_name,product_weight_g,review_score,price,freight_value,payment_value,order_approved_at,order_purchase_timestamp
674,b0e2da4433a10c624a9f71b187e93915,SP,beleza_saude,400.0,5,99.90,9.51,109.41,2017-05-07 02:10:12,2017-05-06 21:55:41
1384,b45d11b61c2a68756bbbd7665d67e812,MG,beleza_saude,250.0,4,89.99,16.39,106.38,2017-10-13 15:56:25,2017-10-11 21:55:04

#### Esempio 5: Campionare colonne invece di righe

In [52]:
csv.sample(n=1, axis=1)

                              order_id
0     00010242fe8c5a6d1ba2dd792cb16214
1     130898c0987d1801452a8ed92a670612
2     532ed5e14e24ae1f0d735b91524b98b9
3     6f8c31653edb8c83e1a739408b5ff750
4     7d19f4ef4d04461989632411b7e588b9
...                                ...
2017  bb0c66e312ff8cb97698f012cd92553c
2018  c0db7d31ace61fc360a3eaa34dd3457c
2019  c0db7d31ace61fc360a3eaa34dd3457c
2020  c90025afa3c59ad0768b713161777935
2021  cc3336764b2bc18f4eaa8f17f86bfd53

[2022 rows x 1 columns]

## 3. Selecting and Indexing Data

## 4. Data Cleaning

## 5. Data Transformation

## 6. Aggregation and Grouping

## 7. Merging and Combining Data

## 8. Exploring Temporal Data

## 9. Exporting Data

## 10. Handling Multi-Level Indices (MultiIndex)

## 11. Pandas Profiling

## 12. Method chaining

## Web Scraping [RACCOLTA]

##

<p align="center">
  Enzo Schitini
</p>

<p align="center">
  Data Scientist & Data Analyst ‚Ä¢ SQL ‚Ä¢ Expert Bubble.io ‚Ä¢ UX & UI @ Scituffy creator
</p>